<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/auth/login}" method="post" th:object="${login}">
    <label>Email:</label>
    <input type="email" th:field="*{email}" required autofocus /><br/>

    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" required /><br/>

    <button type="submit">Ingresar</button>
</form>


<p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>
