<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Sucursal</title>
</head>
<body>
<div th:replace="layout/base :: baseLayout(~{::section})"
     th:with="pageTitle='Nueva Sucursal', userRole='GERENTE_GENERAL'">
    <section>
        <h2>Registro de nueva sucursal</h2>
        <p>Formulario para agregar una nueva sucursal bancaria.</p>
        <!-- Aquí irá el formulario de nueva sucursal -->

        <form th:action="@{/gerente-general/guardar-sucursal}" th:object="${branch}" method="post">
            <label for="name">Nombre de la sucursal:</label>
            <input type="text" id="name" th:field="*{name}" required /><br/><br/>

            <label for="address">Dirección:</label>
            <input type="text" id="address" th:field="*{location}" required /><br/><br/>

            <button type="submit">Guardar Sucursal</button>
        </form>
    </section>
</div>
</body>
</html>
