<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
</head>
<body>
<div th:replace="layout/base :: baseLayout(~{::section})"
     th:with="pageTitle='Registrar Cliente', userRole='CAJERO'">
    <section>
        <h2>Registrar nuevo cliente</h2>
        <p>Formulario para registrar un nuevo cliente.</p>

        <!-- Formulario de registro -->
        <form th:action="@{/clientes/guardar-cliente}" th:object="${cliente}" method="post">
            <label>Nombre:</label>
            <input type="text" th:field="*{name}" required/><br/>

            <label>Email:</label>
            <input type="email" th:field="*{email}" required/><br/>

            <label>DUI:</label>
            <input type="text" th:field="*{dui}" required/><br/>

            <label>Contraseña:</label>
            <input type="password" th:field="*{password}" required/><br/>

            <button type="submit">Registrar</button>
        </form>
    </section>
</div>
</body>
</html>
