
<div th:fragment="sidebar(role)">
    <nav>
        <ul>
            <li><a th:href="@{/home/dashboard}">Inicio</a></li>

            <!-- Cliente -->
            <li th:if="${role == 'cliente'}"><a th:href="@{/cliente/cuentas}">Mis cuentas</a></li>

            <!-- Dependiente -->
            <li th:if="${role == 'dependiente'}"><a th:href="@{/dependiente/atender-cliente}">Atender cliente</a></li>
            <li th:if="${role == 'dependiente'}"><a th:href="@{/dependiente/buscar-cliente}">Información del Cliente</a></li>


            <!-- Cajero -->
            <li th:if="${role == 'cajero'}"><a th:href="@{/cajero/clientes}">Clientes</a></li>
            <li th:if="${role == 'cajero'}"><a th:href="@{/cajero/prestamos}">Préstamos</a></li>

            <!-- Gerente de sucursal -->
            <li th:if="${role == 'gerente_sucursal'}"><a th:href="@{/gerente-sucursal/registrar-empleado}">Nuevo empleado</a></li>
            <li th:if="${role == 'gerente_sucursal'}"><a th:href="@{/gerente-sucursal/revisar-prestamos}">Revisar préstamos</a></li>

            <!-- Gerente general -->
            <li th:if="${role == 'gerente_general'}"><a th:href="@{/gerente-general/sucursales}">Nueva sucursal</a></li>
            <li th:if="${role == 'gerente_general'}"><a th:href="@{/gerente-general/acciones-personal}">Acciones de personal</a></li>
        </ul>
        <div>
            <a th:href="@{/auth/logout}">Cerrar sesión</a>
        </div>
    </nav>
</div>
